* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courgette", cursive;
}

body {
  height: 100vh;
  background-image: url("/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  /* max-width: 400px; */
  animation: fadeIn 1.2s ease-in-out;
}

h2 {
  color: #e63946;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 8px 22px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.yes {
  background: #e63946;
  color: white;
}

.yes:hover {
  background: #d62828;
}

.maybe {
  background-color: #fff;
  border: 1px solid #555;
  color: #555;
  position: relative;
}
.maybe:hover {
  background-color: #555;
  color: #fff;
}

#response {
  margin-top: 20px;
  color: #e63946;
}

#yesBtn {
  transition:
    all 0.4s ease,
    font-size 0.4s ease;
  transform-origin:right center ;
}

#noBtn {
  transform-origin: left center;
  transition:
    all 0.4s ease,
    font-size 0.4s ease;
}
